<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- DataProvider. Only used in ADO.NET. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient. System.Data.EntityClient is not used -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. A name in connectionstring Section. Must match with DataProvider above (if applicable)-->
    <add key="ConnectionStringName" value="ADO.NET.SqlServer" />
    <!-- Log Severity. Options are: Debug, Info, Warning, Error, or Fatal -->
    <add key="LogSeverity" value="Error" />
  </appSettings>

  <!-- 
      Connection string settings 
    -->
  <connectionStrings>
    <add name="ADO.NET.SqlExpress" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Travel.mdf" />
    <add name="ADO.NET.SqlServer" connectionString="Data Source=localhost;Initial Catalog=Action;Integrated Security=True" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="behaviorAction" name="Main_Service.MainService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="bindingAction" contract="Main_Service.IMainService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorAction">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="bindingAction" transactionFlow="false" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
</configuration>
