<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- DataProvider. Only used in ADO.NET. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient. System.Data.EntityClient is not used -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. A name in connectionstring Section. Must match with DataProvider above (if applicable)-->
    <add key="ConnectionStringName" value="ADO.NET.SqlServer" />
    <!-- Log Severity. Options are: Debug, Info, Warning, Error, or Fatal -->
    <add key="LogSeverity" value="Error" />
  </appSettings>

  <!-- 
      Connection string settings 
    -->
  <connectionStrings>
    <add name="ADO.NET.SqlExpress" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Travel.mdf" />
    <add name="ADO.NET.SqlServer" connectionString="Data Source=localhost;Initial Catalog=Action;Integrated Security=True" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <!--<system.serviceModel>
    <services>
      <service behaviorConfiguration="behaviorAction" name="Main_Service.MainService">
        <endpoint address="http://localhost:19223/Service1.svc" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="Main_Service.IMainService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        --><!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>--><!--
      </service>
    </services>
    --><!--<behaviors>
      <serviceBehaviors>
        <behavior name="behaviorAction">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>--><!--
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment --><!--
          <serviceMetadata httpGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      --><!--<wsHttpBinding>
        <binding name="bindingAction" transactionFlow="false" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>--><!--
      --><!--<webHttpBinding>
        <binding name="NewBinding0" />
      </webHttpBinding>--><!--
      
    </bindings>
  </system.serviceModel>-->




  <system.serviceModel>
 

    
    <services>
      <service name="WebHttpService.Service1">
        <endpoint  binding="webHttpBinding" behaviorConfiguration="webBehavior"
          contract="Main_Service.IMainService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="NewBinding0" >
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
               maxArrayLength="2147483647" maxBytesPerRead="2147483647"
               maxNameTableCharCount="2147483647" />

        </binding>
      </webHttpBinding>
   
    </bindings>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="NewStandardEndpoint0" />
      </webHttpEndpoint>
    </standardEndpoints>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
           <!--To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment--> 
          <serviceMetadata httpGetEnabled="true"/>
           <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information--> 
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  







</configuration>
